/*!
  Theme Name: cjonasw-Pugstache-Wordpress-Starter-Theme
  Theme URI: https://github.com/cjonasw/
  Description: cjonasw-Pugstache-Wordpress-Starter-Theme
  Version: 1
  Author: Charlie Walter
  Author URI: http://www.charliejwalter.net
*/

body
  background fuchsia
  color white

body:after
  content "LOLOLOLOL, a pug with a mustache. Pugstache"
  width 500px
  height 500px
  display block
  background url(https://s-media-cache-ak0.pinimg.com/236x/78/c2/ce/78c2ce660bedbd53f449e7f2ad46d8e6.jpg) no-repeat


a
  color white
